@{
    ViewData["Title"] = "Home Page";
}

<article class="medium-padding">
    <div class="grid medium-space">
        <div class="s4">
            <a class="chip ">
                <span>Workspaces</span>
                <i>add</i>
            </a>
            <details>
                <summary class="none">
                    <article class="round primary no-elevate">
                        <nav>
                            <div class="max">Custom summary</div>
                            <i>expand_more</i>
                        </nav>
                    </article>
                </summary>
                <article class="round border">First</article>
                <article class="round border">Second</article>
                <article class="round border">Third</article>
            </details>
        </div>
        <div class="s8">
            <main class="responsive">
                <h3>Expanded</h3>
            </main>
        </div>
</article>
